* {
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-between;
    h1 {
        display: flex;
        flex-direction: column;
        text-align: center;
        #start {
            margin: 5px;
            padding: 5px;
            background: greenyellow;
        }
    }
}
#play-ground {
    border: 1px solid black;
    height: 90vh;
    position: relative;

        #player {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 100px;
            width: 70px;
            height:70px;
            position: absolute;
            margin-left: 680px;
            margin-top: 380px;
        }
        #computer-one{
            border: 1px solid black;
            background: green;
            width: 60px;
            height:60px;
            position: absolute;
            margin-left: 200px;
            margin-top: 180px;
            animation: move 20s alternate infinite;
        }
        @keyframes move {
            0%   {left: 0px; top: 0px;}
            25%  {left: 800px; top: 0px;}
            50%  {left: 800px; top: 200px;}
            75%  {left: 0px; top: 200px;}
            100% {eft: 0px; top: 0px;}
            
        }
        #computer-two{
            border: 1px solid black;
            background: green;
            width: 60px;
            height:60px;
            position: absolute;
            margin-left: 1080px;
            margin-top: 180px;
            animation: moveTwo 30s alternate infinite;

        }
        @keyframes moveTwo {
            0%   {left: 0px; top: 0px;}
            25%  {left: -800px; top: 0px;}
            50%  {left: -800px; top: 200px;}
            75%  {left: 0px; top: 200px;}
            100% {eft: 0px; top: 0px;}
        }
        #computer-three{
            border: 1px solid black;
            background: green;
            width: 60px;
            height:60px;
            position: absolute;
            margin-left: 180px;
            margin-top: 580px;
            animation: moveThree 30s alternate infinite;
        }
        @keyframes moveThree {
            0%   {left: 0px; top: 0px;}
            25%  {left: 700px; top: 0px;}
            50%  {left: 700px; top: -400px;}
            75%  {left: 0px; top: -400px;}
            100% {left: 0px; top: 0px;}
        }
        #computer-four{
            border: 1px solid black;
            background: green;
            width: 60px;
            height:60px;
            position: absolute;
            margin-left: 1080px;
            margin-top: 580px;
            animation: moveFour 10s alternate infinite;

        }
        @keyframes moveFour {
            100%   {left: 0px; top: 0px;}
            75%  {left: 200px; top: 0px;}
            50%  {left: 200px; top: -200px;}
            25%  {left: 0px; top: -200px;}
            0% {left: 0px; top: 0px;}
        }


}